$primary-color: #ffdd00;

$background-color: #fff;
$table-border-color: #eff1f6;
$text-color: #626265;
$secondary-background-color: #f4f6f8;
$border-color: #ccc;
$placeholder-color: #b6b6bb;
$focus-color: #787777;
$error-color: #d61111;
$text-blue-color: #0e275c;

// Tipografía
$font-primary: "Roboto";
